<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="zzCS321_1ConnectionString"
         connectionString="Data Source=calantha.arvixe.com;Initial Catalog=zzCS321_1;Persist Security Info=True;User ID=team1;Password=$sp2015$"
         providerName="System.Data.SqlClient" />
  </connectionStrings>  

    <system.web>
      <compilation debug="false" targetFramework="4.0" />
      <pages theme="Default" styleSheetTheme="Default" />
    </system.web>

</configuration>
